body {
    margin: 0;
    padding: 0;
    background-color: rgb(118, 189, 255);
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.content {
    display: flex;
    flex-direction: column;
    width: 80vw;
}